.link-button {
  @include rounded;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  //
  height: 31px;
  padding: 0 25px;
  //
  color: $blue;
  border: 1px solid $blue;
  // 
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;

  &--small {
    height: 22px;
    padding-left: 11px;
    padding-right: 11px;
  }
}
