.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgb(38 38 38 / 66%);
  overflow: auto;
  display: none;
  place-items: center;
  
  &__dialog {
    @include max-width(md) {
      width: 100%;
    }
  }

  &--active {
    display: grid;
  }
}
