.flow {
  padding: 110px 0 65px;
  background: url(/assets/images/blue_bg.png) center / cover no-repeat;

  @include max-width(md) {
    padding: 40px 0;
  }

  &__wrapper {
    place-items: center;
  }

  &__top {
    margin-bottom: 30px;
  }

  &__heading {
    color: $white;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 55px;
    gap: 20px;

    @include max-width(md) {
      grid-template-columns: 1fr;
      margin-bottom: 35px;
    }
  }
}