form(action="" method="POST").form
  fieldeset.form__fieldset
    input(type="text" placeholder="Имя").form__textfield.textfield
    input(type="text" placeholder="Почта").form__textfield.textfield
    input(type="text" placeholder="Телефон").form__textfield.textfield
  div.form__actions
    button(type="submit").form__submit.button Отправить