include ../components/link-button.pug
header.header
  div.header__container.container
    div.header__logo.logo
      img(src="/assets/images/logo.png").logo__image
    nav.header__menu
      button(type="button").header__burger
        include ../../assets/svg/burger.svg
      ul.header__list
        li.header__item
          a(href="#").header__link Каталог
        li.header__item
          a(href="#").header__link Калькулятор
        li.header__item
          a(href="#").header__link Акции
        li.header__item
          a(href="#").header__link Контакты
    div.header__contacts
      a(href="tel:88002504660").header__call.header-call
        div.header-call__icon
          include ../../assets/svg/phone.svg
        span.header-call__text 8 (800) 250-46-60
      -
        const telegram = {
          href: "t.me/"
        }
        const whatsapp = {
          href: "t.me/"
        }
      +link-button(telegram).header__telegram
        include ../../assets/svg/telegram.svg
      +link-button(whatsapp).header__whatsapp
        include ../../assets/svg/whatsapp.svg
        