include ../components/link-button.pug
header.header
  div.header__container.container
    div.header__logo.logo
      img(src="/assets/images/logo.png").logo__image
    nav.header__menu
      button(type="button").header__burger
        include ../../assets/svg/burger.svg
      ul.header__list
        li.header__item
          a(href="#").header__link Каталог
        li.header__item
          a(href="#").header__link Калькулятор
        li.header__item
          a(href="#").header__link Акции
        li.header__item
          a(href="#").header__link Контакты
    div.header__contacts
      a(href="tel:88002504660").header__call.header-call
        div.header-call__icon
          include ../../assets/svg/phone.svg
        span.header-call__text 8 (800) 250-46-60
      -
        const telegram = {
          href: "t.me/",
          text: "Telegram",
        }
        const whatsapp = {
          href: "t.me/",
          text: "Telegram",
        }
      +link-button(telegram)
        include ../../assets/svg/telegram.svg
      +link-button(whatsapp)
        include ../../assets/svg/whatsapp.svg
      //- a(href="t.me/").header__telegram.link-button
        div.link-button__icon
          include ../../assets/svg/telegram.svg
        span.link-button__text Telegram
      //- a(href="wa.me/").header__whatsapp.link-button
        div.link-button__icon
          include ../../assets/svg/whatsapp.svg
        span.link-button__text WhatsApp