-
  const categoriesCards = [
    {
      image: "/assets/images/earphones.png",
      title: "Наушники",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/cases.png",
      title: "Чехлы и накладки",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/charges.png",
      title: "Зарядные устройтсва",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/cables.png",
      title: "Кабели и провода",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/watches.png",
      title: "Часы",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/glasses.png",
      title: "Защитные стёкла",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/accessories.png",
      title: "Аксессуары",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/powers.png",
      title: "Портативные аккумуляторы",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
  ]