-
  const latestCards = [
    {
      image: "/assets/images/watches.png",
      title: "Часы",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/glasses.png",
      title: "Защитные стёкла",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/accessories.png",
      title: "Аксессуары",
      quantity: 1000,
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/powers.png",
      title: "Портативные аккумуляторы",
      quantity: 1000,
      price: 32,
      link: "#" 
    }
  ]