-
  const persons = [
    {
      image: "/assets/images/person_1.png",
      name: "Илья Шашкин",
      phone: "+7 (913) 795-5630",
      email: "fedor@mobi-express.ru"
    },
    {
      image: "/assets/images/person_2.png",
      name: "Александр Ротмистров ",
      phone: "+7 (961) 393-2830",
      email: "fedor@mobi-express.ru"
    },
  ] 