-
  const persons = [
    {
      image: "/assets/images/person_1.png",
      name: "Илья Дикарь",
      phone: "+7 (913) 795-5630",
      email: "fedor@mobi-express.ru"
    },
    {
      image: "/assets/images/person_2.png",
      name: "Александр Распиздяевич ",
      phone: "+7 (913) 795-5630",
      email: "fedor@mobi-express.ru"
    },
    {
      image: "/assets/images/person_3.png",
      name: "Эмиль Пиздаболович",
      phone: "+7 (913) 795-5630",
      email: "fedor@mobi-express.ru"
    }
  ] 