-
  const productOffers = [
    {
      image: "/assets/images/charges.png",
      price: 1000,
      link: "#" 
    },
    {
      image: "/assets/images/earphones.png",
      price: 15000,
      link: "#" 
    },
    {
      image: "/assets/images/watches.png",
      price: 32,
      link: "#" 
    },
    {
      image: "/assets/images/cases.png",
      price: 700,
      link: "#" 
    },
  ]