extends layouts/main.pug

block page_content
  main
    include includes/categories-modal.pug
    include includes/contacts-modal.pug
    include includes/sections/title.pug
    include includes/sections/categories.pug
    include includes/sections/calc.pug
    include includes/sections/products.pug
    include includes/sections/flow.pug
    include includes/sections/contacts.pug
    