section.calc
  div.container
    div.calc__top.row
      div.col-9
        h2.calc__heading.s-heading Посчитайте прибыль
    form(action="" method="POST").calc__form.row
      fieldset.calc__fieldset.col-xl-11.col-12
        div.calc__group.calc-group
          label(for="volume").calc-group__label Объём закупки
          div.calc-group__textfield
            input(type="text" id="volume").calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
        div.calc__group.calc-group
          label(for="discount").calc-group__label.calc-group__label--min Скидка составит
          div.calc-group__textfield
            input(type="text" id="discount" readonly).calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
        div.calc__group.calc-group
          label(for="markup").calc-group__label Наценка (в среднем 200%)
          div.calc-group__textfield
            input(type="text" id="markup").calc-group__input.textfield.textfield--small
            span.calc-group__unit %
        div.calc__group.calc-group
          label(for="profit").calc-group__label.calc-group__label--min Прибыль составит
          div.calc-group__textfield
            input(type="text" id="profit" readonly).calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
      div.calc__submit.col-12
        button(type="submit").button Сделать расчёт
          
