section.calc
  div.container
    div.calc__top.row
      div.col-9
        h2.calc__heading.s-heading Посчитайте прибыль
    form(action="" method="POST" id="calc").calc__form.row
      fieldset.calc__fieldset.col-12
        div.calc__group.calc-group
          label(for="cost").calc-group__label Себестоимость (1 шт.)
          div.calc-group__textfield
            input(type="text" id="cost" maxlength="9").calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
          p.calc-group__error Это обязательное поле
        div.calc__group.calc-group
          label(for="amount").calc-group__label.calc-group__label--min Количество (шт.)
          div.calc-group__textfield
            input(type="text" id="amount" maxlength="9").calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
          p.calc-group__error Это обязательное поле
        div.calc__group.calc-group
          label(for="retail").calc-group__label Розничная цена
          div.calc-group__textfield
            input(type="text" id="retail" maxlength="9").calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
          p.calc-group__error Это обязательное поле
        div.calc__group.calc-group
          label(for="profit").calc-group__label.calc-group__label--min Прибыль составит
          div.calc-group__textfield
            input(type="text" id="profit" readonly).calc-group__input.textfield.textfield--small
            span.calc-group__unit ₽
          p.calc-group__error Это обязательное поле
      div.calc__submit.col-12
        button(type="submit").button Сделать расчёт
          
