include ../../components/card-wall
include ../data/_categories-cards.pug
section.categories
  div.container
    div.categories__top.row
      div.col-xl-8.col-md-10.col-12
        h2.categories__heading.s-heading.dual-text У нас есть #[span.dual-text__dark все категории аксессуаров]
        h2.categories__heading--mobile.categories__heading.s-heading.dual-text Категории
    +card-wall(categoriesCards).categories__wall
