section.flow
  div.container
    div.flow__wrapper.row
      div.flow__top.col-12
        h2.flow__heading.s-heading Как мы работаем!
      div.flow__content.col-xl-8.offset-xl-2.col-12
        div.blue-card
          strong.blue-card__num 1
          p.blue-card__text Оставляете#[br]заявку на сайте
        div.blue-card
          strong.blue-card__num 2
          p.blue-card__text Мы обрабатываем ваш заказ
        div.blue-card
          strong.blue-card__num 3
          p.blue-card__text Вам перезвонит менеджер для уточнения деталей
        div.blue-card
          strong.blue-card__num 4
          p.blue-card__text После оплаты ожидаете получения в срок
      div.col-12
        button(type="button").flow__button.button#m2-trigger Уточнить подробности