include ../../components/price-badge.pug

section.title
  div.title__container.container
    div.title__offer
      span Минимальный заказ
      +price-badge(5000)
    h1.title__heading Получите предложение с актуальными ценами
    div.title__contacts.title-contacts
      p.title__get-price Получить лучшие оптовые цены


