$button: linear-gradient(180deg, #FEC163 0%, #DE4313 100%);
$button--hovered: linear-gradient(180deg, #DE4313 0%, #FEC163 100%);
$white: #ffffff;
$blue: #0450A0;
$light-blue: #459CF7;
$sea-blue: #CCE6FF;
$sea-blue--light: #C6E2FC;
